@import "mixins"

.footer
    display: flex
    justify-content: center
    min-height: 180px

    font-family: Heebo
    color: black
    font-size: 15px
    line-height: 1

    // background: url("../images/footerBackground.webp") 0 0 / 100% 100% no-repeat;

    @media (max-width: 768px)
        flex: 1 0 auto
        // background: none;

    &__body
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center

        @media (min-width: 1200px)
            width: 80%

        @media (min-width: 768px) and (max-width: 1199px)
            width: 700px

        @media (min-width: 426px) and (max-width: 768px)
            width: 90%

        @media (max-width: 425px)
            width: 90%

.contacts-block
    margin: 0px 10px 0px 0px

    &__list

    &__item
        a
            

.socials
    display: flex
    padding: 0px 0px 20px 0px;

    &__item
        @include hAndW(20px, 20px)
        margin: 0px 20px 0px 0px

    .twitter
        @include hAndW(20px, 26px)
