
@import "nullStyle"
@import "mixins"
@import "header"
@import "footer"
@import "form"
@import "fonts"
// @import "iconFonts"

$maxWidth: 850

$mainFontFamily: Heebo
$fontColor: black
$background: white

body
    display: flex
    flex-flow: column nowrap
    height: 100%
    color: $fontColor
    font-family: $mainFontFamily

.main
    width: 100%

    background: $background

    &__body
        flex: 1 0 auto
        background: $background

.about-me
    display: flex
    justify-content: center
    align-items: center

    font-family: $mainFontFamily

    &__body
        display: flex

        @media (min-width: 320px) and (max-width: $maxWidth + px)
            flex-flow: column-reverse nowrap
            align-items: center

    &__info
        display: flex
        flex: 0 0 60%
        flex-flow: column nowrap
        justify-content: flex-start
        font-size: 16px

        padding: 0px 100px 0px 0px

        @media (min-width: 320px) and (max-width: $maxWidth + px)
            padding: 20px 0px 20px 0px
            text-align: center
            align-items: center

            *
                padding: 7px 0px 7px 0px

        *
            padding: 0px 0px 40px 0px

        h1
            font-weight: 700
            font-size: 40px

        p
            line-height: 1.5

        a
            display: inline-block
            color: white
            width: max-content
            padding: 10px 10px 10px 10px
            background: #FF6464

    &__image
        @include hAndW(250px,250px)

        @media (min-width: 320px) and (max-width: $maxWidth + px)
            text-align: center
            @include hAndW (180px, 180px)

        img
            @include hAndW(100%,100%)

.posts
    background: #EDF7FA

    &__body
        display: flex
        flex-flow: row wrap

    &__header
        @include hAndW (auto, 100%)
        padding: 0px 0px 15px 0px

        display: flex
        justify-content: space-between

        a
            color: #00A8CC
            &:hover
                text-decoration: underline

.post
    background: white
    width: 50%

    &__body

        &__title

        &__tags

.works

    &__body

        &__header
.work

    &__image

        &__info

        &__title

        &__tags

        &__date

        &__type

.container
    @media (min-width: 1200px)
        @include hAndW(auto, 80%)

    @media (min-width: $maxWidth + px) and (max-width: 1199px)
        width: $maxWidth + px

    @media (min-width: 426px) and (max-width: $maxWidth + px)
        width: 80%

    @media (max-width: 425px)
        width: 95%

.block
    padding: 20px 10px 20px 10px
    margin: 0 auto
