
@import "nullStyle"
@import "mixins"
@import "header"
@import "footer"
@import "form"
@import "fonts"
@import "blog"
@import "wDetail"
// @import "iconFonts"

$maxWidth: 850

$mainFontFamily: Heebo
$fontColor: black
$background: white

body
    display: flex
    flex-flow: column nowrap
    height: 100%
    color: $fontColor
    font-family: $mainFontFamily

.main
    width: 100%
    flex: 1 0 auto

    background: $background

    &__body
        flex: 1 0 auto
        background: $background

.about-me
    display: flex
    justify-content: center
    align-items: center

    font-family: $mainFontFamily

    .block
        padding: 5px 20px 50px 20px

    &__body
        display: flex

        @media (min-width: 320px) and (max-width: $maxWidth + px)
            flex-flow: column-reverse nowrap
            align-items: center
            padding: 0px 0px 0px 0px

    &__info
        display: flex
        flex: 0 0 60%
        flex-flow: column nowrap
        justify-content: flex-start
        @include adaptiv-font (16, 14)

        padding: 0px 100px 0px 0px

        @media (min-width: 320px) and (max-width: $maxWidth + px)
            padding: 20px 0px 20px 0px
            text-align: center
            align-items: center

            *
                padding: 7px 0px 7px 0px

        *
            padding: 0px 0px 40px 0px

        p
            line-height: 1.5

        a
            display: inline-block
            color: white
            width: max-content
            padding: 10px 10px 10px 10px
            background: #FF6464

            transition: all 0.2s ease

            &:hover
                filter: brightness(90%)
                color: black
            &:active
                filter: brightness(100%)

    &__image
        @include hAndW(250px,250px)

        @media (min-width: 320px) and (max-width: $maxWidth + px)
            text-align: center
            @include hAndW (180px, 180px)

        img
            @include hAndW(100%,100%)

.posts
    background: #EDF7FA

    &__body
        display: flex
        flex-flow: row wrap
        justify-content: space-between

    &__header
        @include hAndW (auto, 100%)
        @include adaptiv-font (16,14)

        padding: 0px 7px 15px 7px

        display: flex
        justify-content: space-between

        a
            color: #00A8CC
            &:hover
                text-decoration: underline

.post
    flex: 1 0 48%
    @include adaptiv-font (15,13)

    padding: 7px 7px 7px 7px

    @media (max-width: 650px)
        flex: 1 0 100%

    &__body
        background: white
        padding: 20px 20px 20px 20px

    &__title
        font-family: $mainFontFamily + ' bold'
        margin: 0px 0px 20px 0px
        line-height: 1.2
        @include adaptiv-font (30, 20)

        &:hover
            transition: all 0.2s ease
            color: #e44848

    &__metadata
        display: flex
        align-items: center
        margin: 0px 0px 15px 0px

        line-height: 1.2

    &__tags
        display: flex
        flex-flow: row wrap
        justify-content: center
        padding: 0px 0px 0px 5px

        @media (max-width: 721px)
            width: 50%
        *
            &:after
                content: ','
                padding: 0px 5px 0px 0px
            &:last-child
                &:after
                    content: ''
                    padding: 0px 0px 0px 0px

    &__date
        border-right: 1.5px solid black

        line-height: 1.2

        @media (min-width: 720px)
            padding: 0px 20px 0px 0px
            margin: 0px 20px 0px 0px

        @media (max-width: 721px)
            width: 30%

    p
        line-height: 1.5
    a
        text-align: left

.works
    &__body

    &__header
        padding: 0px 0px 20px 0px
        @include adaptiv-font (16,14)

        @media (max-width: 600px)
            text-align: center
            padding: 0px 0px 0px 0px

    &__main
        @media (max-width: 376px)
            article
                display: none

                &:first-child
                    display: block

.work
    @include adaptiv-font (15, 14)

    &:first-child
        padding-top: 0

    &__body
        display: flex

        padding: 20px 0px 20px 0px
        border-bottom: 2px solid #E0E0E0

        @media (min-width: 320px) and (max-width: 600px)
            flex-flow: column nowrap

            padding: 15px 0px 15px 0px

    &__image
        min-width: 246px
        min-height: 180px
        max-height: 180px

        @media (max-width: 600px)
            max-height: 100%

        img
            @include hAndW (100%, 100%)
            border-radius: 5px

    &__info
        max-width: 65%
        padding: 0px 0px 0px 20px

        @media (min-width: 320px) and (max-width: 600px)
            padding: 20px 0px 0px 0px
            max-width: 100%

        *
            margin: 0px 0px 20px 0px

    &__title
        font-family: $mainFontFamily + ' bold'
        @include adaptiv-font (30, 25)

        &:hover
            transition: all 0.2s ease
            color: #e44848

    &__tags
        @include adaptiv-font (20, 14)
        display: inline-flex
        flex-flow: row wrap
        justify-content: flex-start

        *
            margin: 0px 0px 0px 0px
            &:after
                display: inline-block
                content: ','
                padding: 0px 5px 5px 0px
            &:last-child
                &:after
                    content: ''

    &__date
        display: inline-block
        background: #21243D
        color: #fff
        font-family: 'Heebo black'
        @include adaptiv-font (18, 14)

        padding: 5px 7px 4px 7px
        margin: 0px 20px 20px 0px
        border-radius: 30px

    &__type
        color: #8695A4

    p
        line-height: 1.3
    a
        text-align: left

.container
    @media (min-width: 1200px)
        @include hAndW(auto, 80%)

    @media (min-width: $maxWidth + px) and (max-width: 1199px)
        width: $maxWidth + px

    @media (min-width: 426px) and (max-width: $maxWidth + px)
        width: 80%

    @media (max-width: 425px)
        width: 95%

.second-container
    @media (min-width: 1200px)
        @include hAndW(auto, 80%)

    @media (min-width: $maxWidth2 + px) and (max-width: 1199px)
        width: $maxWidth2 + px

    @media (min-width: 426px) and (max-width: $maxWidth2 + px)
        width: 80%

    @media (max-width: 425px)
        width: 95%

.block
    padding: 20px 10px 20px 10px
    margin: 0 auto

.title
    font-family: $mainFontFamily + ' bold'
    @include adaptiv-font (40, 30)
