* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  width: 0px;
}

input,
.form .submit-button,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear,
.form .submit-button::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-family: 'Heebo med';
  background: white;
  z-index: 5;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 95%;
  margin: 0px 0px 60px 0px;
}

.navmenu {
  font-size: calc(16px + 0 * ((100vw - 320px) / 530));
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
  line-height: 1.2;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.navmenu__list li a:hover {
  color: red;
}

.navmenu__list li a.active {
  color: red;
}

.navmenu #submenu-open-button {
  position: relative;
}

.navmenu #submenu-open-button::after {
  display: inline-block;
  position: relative;
  top: 0;
  right: -5px;
  content: "";
  height: 4px;
  width: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navmenu #submenu-open-button::after:hover {
  color: red;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navmenu #submenu-open-button.active::after {
  top: 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navmenu__submenu {
  display: none;
  height: 50px;
  background: gray;
}

.navmenu__submenu.show {
  position: absolute;
  top: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__submenu.navmenu__list li:hover {
  -webkit-filter: brightness(92%);
          filter: brightness(92%);
}

.logo {
  z-index: 5;
  height: 99%;
}

.logo img {
  height: 100%;
  width: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 180px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-family: Heebo;
  color: black;
  font-size: calc(12px + 1 * ((100vw - 320px) / 530));
  line-height: 1;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
}

.socials a:last-of-type {
  margin: 0px 0px 0px 0px;
}

.socials__item {
  height: 20px;
  width: 20px;
  margin: 0px 40px 40px 0px;
}

.socials .twitter {
  height: 30px;
  width: 36px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 5px 30px 5px;
}

.form i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form i::before {
  position: relative;
  left: 15px;
  width: 0;
  z-index: 1;
}

.form input,
.form .submit-button {
  height: 35px;
  width: 210px;
  font-size: calc(10px + 1 * ((100vw - 320px) / 530));
  font-family: "Open Sans";
  padding: 10px 10px 10px 30px;
  margin: 8px 0px 8px 6px;
  border-radius: 2px;
}

.form input:focus,
.form .submit-button:focus {
  -webkit-filter: brightness(83%);
          filter: brightness(83%);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form .submit-button {
  padding: 0px 0px 0px 0px;
  width: 160px;
}

.form .submit-button:hover {
  color: black;
}

.form .submit-button:active {
  color: black;
}

.form .submit-button:focus {
  -webkit-filter: none;
          filter: none;
  background: #ebb14d;
}

.button {
  text-align: center;
  color: white;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: calc(10px + -1 * ((100vw - 320px) / 530));
  min-width: 80px;
  height: 7px;
  padding: 5px 5px 5px 5px;
  border-radius: 1px;
  background-color: #ebb14d;
}

.button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: black;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

a {
  text-align: center;
}

.button-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
}

.button-container .button {
  position: relative;
  bottom: 2px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.button-container .button:active {
  bottom: 0;
}

@font-face {
  font-family: "Heebo black";
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff") format("woff"), url("../fonts/Heebo-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Heebo bold";
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff") format("woff"), url("../fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Heebo med";
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff") format("woff"), url("../fonts/Heebo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff") format("woff"), url("../fonts/Heebo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog {
  font-size: calc(13px + 2 * ((100vw - 320px) / 530));
}

.blog__body {
  margin: 60px 0px 60px 0px;
}

.blog__tag {
  color: #8695A4;
}

.blog p {
  line-height: 1.5;
}

.post__title {
  text-align: left;
}

.work-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-detail__body * {
  padding: 0px 0px 30px 0px;
}

.work-detail__image img {
  height: 100%;
  width: 100%;
}

.work-detail__tags {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: calc(14px + 6 * ((100vw - 320px) / 530));
}

.work-detail__tags * {
  padding: 0px 0px 0px 0px;
}

.work-detail__tags *:after {
  content: ',';
  padding: 0px 5px 0px 0px;
}

.work-detail__tags *:last-child:after {
  content: '';
  padding: 0px 0px 0px 0px;
}

.work-detail #work-detail-date {
  background: #FF7C7C;
}

.work-detail p {
  font-size: calc(14px + 2 * ((100vw - 320px) / 530));
}

.title {
  line-height: 1.3;
  font-size: calc(25px + 8 * ((100vw - 320px) / 530));
}

h2,
h3 {
  font-family: 'Heebo med';
  margin: -10px 0px -10px 0px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 530));
}

h3 {
  font-size: calc(14px + 10 * ((100vw - 320px) / 530));
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  color: black;
  font-family: Heebo;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: white;
}

.main__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: white;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Heebo;
}

.about-me .block {
  padding: 5px 20px 50px 20px;
}

.about-me__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: calc(14px + 2 * ((100vw - 320px) / 530));
  padding: 0px 100px 0px 0px;
}

.about-me__info * {
  padding: 0px 0px 40px 0px;
}

.about-me__info p {
  line-height: 1.5;
}

.about-me__info a {
  display: inline-block;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 10px 10px 10px;
  background: #FF6464;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about-me__info a:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: black;
}

.about-me__info a:active {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.about-me__image {
  height: 250px;
  width: 250px;
}

.about-me__image img {
  height: 100%;
  width: 100%;
}

.posts {
  background: #EDF7FA;
}

.posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__header {
  height: auto;
  width: 100%;
  font-size: calc(14px + 2 * ((100vw - 320px) / 530));
  padding: 0px 7px 15px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__header a {
  color: #00A8CC;
}

.posts__header a:hover {
  text-decoration: underline;
}

.post {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 48%;
          flex: 1 0 48%;
  font-size: calc(13px + 2 * ((100vw - 320px) / 530));
  padding: 7px 7px 7px 7px;
}

.post__body {
  background: white;
  padding: 20px 20px 20px 20px;
}

.post__title {
  font-family: Heebo bold;
  margin: 0px 0px 20px 0px;
  line-height: 1.2;
  font-size: calc(20px + 3 * ((100vw - 320px) / 530));
}

.post__title:hover {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #e44848;
}

.post__metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 15px 0px;
  line-height: 1.2;
}

.post__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 0px 5px;
}

.post__tags *:after {
  content: ',';
  padding: 0px 5px 0px 0px;
}

.post__tags *:last-child:after {
  content: '';
  padding: 0px 0px 0px 0px;
}

.post__date {
  border-right: 1.5px solid black;
  line-height: 1.2;
}

.post p {
  line-height: 1.5;
}

.post a {
  text-align: left;
}

.works__header {
  padding: 0px 0px 20px 0px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 530));
}

.work {
  font-size: calc(14px + 1 * ((100vw - 320px) / 530));
}

.work:first-child {
  padding-top: 0;
}

.work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 20px 0px;
  border-bottom: 2px solid #E0E0E0;
}

.work__image {
  min-width: 246px;
  min-height: 180px;
  max-height: 180px;
}

.work__image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.work__info {
  max-width: 65%;
  padding: 0px 0px 0px 20px;
}

.work__info * {
  margin: 0px 0px 20px 0px;
}

.work__title {
  font-family: Heebo bold;
  font-size: calc(25px + 5 * ((100vw - 320px) / 530));
}

.work__title:hover {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #e44848;
}

.work__tags {
  font-size: calc(14px + 6 * ((100vw - 320px) / 530));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.work__tags * {
  margin: 0px 0px 0px 0px;
}

.work__tags *:after {
  display: inline-block;
  content: ',';
  padding: 0px 5px 5px 0px;
}

.work__tags *:last-child:after {
  content: '';
}

.work__date {
  display: inline-block;
  background: #21243D;
  color: #fff;
  font-family: 'Heebo black';
  font-size: calc(14px + 4 * ((100vw - 320px) / 530));
  padding: 5px 7px 4px 7px;
  margin: 0px 20px 20px 0px;
  border-radius: 30px;
}

.work__type {
  color: #8695A4;
}

.work p {
  line-height: 1.3;
}

.work a {
  text-align: left;
}

.block {
  padding: 20px 10px 20px 10px;
  margin: 0 auto;
}

.title {
  font-family: Heebo bold;
  font-size: calc(30px + 10 * ((100vw - 320px) / 530));
}

@media (min-width: 720px) {
  .post__date {
    padding: 0px 20px 0px 0px;
    margin: 0px 20px 0px 0px;
  }
}

@media (min-width: 1200px) {
  .footer__body {
    width: 80%;
  }

  .container {
    height: auto;
    width: 80%;
  }

  .second-container {
    height: auto;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 721px) {
  .post__tags {
    width: 50%;
  }

  .post__date {
    width: 30%;
  }
}

@media (max-width: 650px) {
  .post {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 600px) {
  .works__header {
    text-align: center;
    padding: 0px 0px 0px 0px;
  }

  .work__image {
    max-height: 100%;
  }
}

@media (max-width: 426px) {
  .navmenu {
    width: 100%;
  }

  .navmenu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .navmenu__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .navmenu__submenu {
    height: 100px;
  }

  .navmenu__submenu.navmenu__list li {
    background: #d6d4d4;
  }

  .footer {
    min-height: 100px;
  }

  .socials {
    margin: 0px 0px 0px 0px;
  }

  .socials__item {
    height: 25px;
    width: 25px;
  }

  .socials .twitter {
    height: 25px;
    width: 31px;
  }

  .blog__body {
    margin: 25px 0px 30px 0px;
  }
}

@media (max-width: 425px) {
  .footer__body {
    width: 90%;
  }

  .container {
    width: 95%;
  }

  .second-container {
    width: 95%;
  }
}

@media (max-width: 376px) {
  .works__main article {
    display: none;
  }

  .works__main article:first-child {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 850px) {
  .header__body {
    margin: 0px 0px 30px 0px;
  }

  .about-me__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 0px 0px;
  }

  .about-me__info {
    padding: 20px 0px 20px 0px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-me__info * {
    padding: 7px 0px 7px 0px;
  }

  .about-me__image {
    text-align: center;
    height: 180px;
    width: 180px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__body {
    width: 700px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer__body {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 900px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .form input,
  .form .submit-button,
  .form i,
  .form .button {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .work__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 15px 0px 15px 0px;
  }

  .work__info {
    padding: 20px 0px 0px 0px;
    max-width: 100%;
  }
}

@media (min-width: 850px) and (max-width: 1199px) {
  .container {
    width: 850px;
  }
}

@media (min-width: 426px) and (max-width: 850px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .second-container {
    width: 700px;
  }
}

@media (min-width: 426px) and (max-width: 700px) {
  .second-container {
    width: 80%;
  }
}